.mui-content ul{
	margin-top: 0;
	padding-left: 0;
	background-color: #FFFFFF;
}
.mui-content ul li{
	list-style: none;
}
.ul_li_header{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #e6e6e6;
	font-size:18px;
}
.ul_li_header .left_line{
	width: 4px;
	height: 20px;
	vertical-align: middle;
	background-color: #50a934;
	border-radius: 4px;
	display: inline-block;
	margin-left: 15px;
	margin-right: 5px;
}
.ul_li_body{
	min-height: 50px;
	line-height: 50px;
	padding: 0 15px;
	display: -webkit-flex;
}
.ul_li_body .mui-search{
	float: left;
	margin-right: 10px;
	-webkit-flex: 1;
	
}
.ul_li_body .mui-search input{
	height: 28px;
	line-height: 28px;
	border-radius: 3px;
}
.ul_li_body .mui-btn-success{
	margin-top: 11px;
	width: 48px;
	height: 28px;
	line-height: 28px;
	background-color: #50A934;
	border: 1px solid #50A934;
	padding: 0;

}
.mui-search .mui-placeholder{
	top: 8px;
	left: -90px;
}
.ul_li_body .mui-radio{
	-webkit-flex: 1;
}
.ul_li_body .mui-checkbox input[type=checkbox], .ul_li_body .mui-radio input[type=radio]{
	width: 12px;
	height: 12px;
	vertical-align: middle;
	left: 0;
	margin-top: 8px;
}
.ul_li_body .mui-checkbox input[type=checkbox]:before,.ul_li_body .mui-radio input[type=radio]:before{
	font-size: 12px;
	color: #50a934;
}
.ul_li_body .mui-radio label{
	margin-left: 17px;
	padding-left: 0;
	padding-right: 0;
	display: inline-block;
	width: auto;
	font-size: 15px;
	color: #666;
}
#prov_ul,#city_ul,#county_ul{
	-webkit-flex: 1;
	height: 28px;
	line-height: 28px;
	background: #F2F2F2;
	border-radius: 3px;
	margin: 10px;
	font-size: 15px;

}
#prov_ul li .prov_title,#city_ul li .city_title,#county_ul li .county_title{
	margin-left: 5px;
}
	

.prov,.city,.county{
	height: auto;
	max-height: 196px;
	overflow: auto;
	border: 1px solid #F2F2F2;
	border-radius:0 0 5px 5px;
	display: none;
}
.relative{
	position: relative;
}
.prov li,.city li,.county li{
	height: 28px;
	line-height: 28px;
	border-bottom: 1px solid #F2F2F2;
	padding: 0 5px;
}
.down_up{
	width: 28px;
	height: 28px;
	background-color: #50A934;
	line-height: 28px;
	border-radius: 0 5px 5px 0;
	display: inline-block;
	position: absolute;
	right: 0;
	text-align: center;
}
.down_up i{
	color: #fff;
	
}
.photo_msg{
	line-height: 24px;
	margin: 10px 0;
	font-size: 15px;
	color: #333;
}
.ul_li_header i{
	float: right;
	margin-right: 15px;
	color: #d1d2d7;
}
#showCityPicker3{
	height: 46px;
	line-height: 46px;
	padding: 0;
	margin: 10px 0;
	background-color: #fff;
	color: #50a934;
	border-radius: 3px;
	font-weight: bold;
	
}
.classes .mui-btn-blue{
	background-color: #50a934;
	border: 1px solid #50a934;
}
